#s1 {
  background-color: #fff;
  /* display: none; */
}

#i1 {
  background-image: url(../images/s11b.webp);
  z-index: 10;
}
#i2 {
  background-image: url(../images/s12b.webp);
  z-index: 9;
}
#i3 {
  background-image: url(../images/s13b.webp);
  z-index: 8;
}
#i4 {
  background-image: url(../images/s14b.webp);
  z-index: 7;
}

.scroller {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .title {
    max-width: 500px;
  }
}

.img-item {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  padding: 0rem 0px;
  width: 100vw;
  position: absolute;
}

.img-item::before {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.s1left {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
}
.s1right {
  /* background-color: blue; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .s1-img {
    height: 90%;
    width: 100%;
    border-radius: 2rem;
  }
}

.s1left .title span {
  font-size: 42px;
  font-weight: 600;
  padding: 2px 0px;
  margin-bottom: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.s1left .title span.yellow {
  padding: 2px 4px;
}

.img-item p {
  font-size: 20px;
  line-height: 1.6;
  max-width: 500px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: normal;
  word-wrap: break-word;
}

.img-item button {
  width: fit-content;
  padding: 15px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  background-color: yellow;
  i {
    font-size: 16px;
    color: black;
  }
  box-shadow: none;
  border: none;
  transition: all 0.5s;
}
.img-item button:hover {
  color: yellow;
  background-color: black;
  i {
    color: yellow;
    animation: iconAnimation 1s;
  }
}
@keyframes iconAnimation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-div {
  bottom: 8vh;
  display: flex;

  gap: 4rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 99;
}
i {
  color: #fff;
  font-size: 1.2rem;
}
.button-div button {
  background-color: transparent;
  border: none;
  outline: none;
}
#back-icon:hover {
  color: yellow;
}
#front-icon:hover {
  color: yellow;
}
#pause-icon:hover {
  color: gray;
}

@media (max-width: 768px) {
  .img-item .title {
    max-width: fit-content;
  }
  .img-item .title span {
    font-size: 44px;
  }
  .img-item p {
    max-width: fit-content;
  }
  .img-item::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .img-item {
    grid-template-columns: 100%;
  }
  .img-item .s1right {
    display: none;
  }
  .img-item .s1left {
    padding: 0px 20px 0px 20px;
  }
  /* .s1left {
    align-items: center;
    text-align: center;
  } */

  .img-item .title span {
    font-size: 30px;
    max-width: 90%;
  }
  .img-item p {
    width: 90%;
    font-size: 18px;
  }

  .img-item button,
  .button-div button {
    font-size: 14px;
    padding: 10px 10px;
    font-weight: 700;
  }
}
