#s3 {
  align-items: center;
  background-color: yellow;
  display: flex;
  height: fit-content;
  justify-content: start;
  padding-bottom: 3vh;

  .title {
    font-size: 13vh;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}
.service-group {
  column-gap: 5%;
  display: grid;
  grid-template-columns: 47% 47%;
  height: fit-content;
  margin-top: 12vh;
  width: 84%;
}
.service {
  align-items: flex-start;
  background-color: black;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  margin-bottom: 2vh;
  place-self: center;
  width: 100%;
  i {
    display: flex;
    font-size: 5rem;
    margin-left: 2rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    h2 {
      color: rgb(255, 244, 43);
      font-family: "Caveat", cursive;
      font-size: 2.4rem;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: large;
      padding-bottom: 4px;
    }
  }
}
.service:hover {
  scale: 1.03;
}
@media (max-width: 768px) {
  #s3 {
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    .title {
      font-size: 52px;
      font-weight: 400;
      margin-top: 11vh;
      transform: rotate(0deg);
      writing-mode: horizontal-tb;
    }
  }
  .service-group {
    grid-template-columns: 100%;
    height: fit-content;
    margin-top: 1vh;
    width: 94%;
  }
  .service {
    height: fit-content;
    padding-bottom: 3vh;
    padding-top: 2vh;
    .text {
      h2 {
        color: white;
        font-size: 30px;
      }
      p {
        font-size: small;
      }
    }

    /* align-items: center; */
    /* text-align: center; */
    i {
      color: yellow;
      font-size: 2.5rem;
      margin-bottom: 1vh;
    }
  }
}
