#s5 {
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  /* display: none; */
}

.pillar-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  margin-top: 12vh;
  min-height: 75vh;
  width: 90%;
}
.pillar {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  padding: 11px 50px;
  width: 25rem;
  /* border: 2px solid yellow; */
  i {
    color: black;
    display: flex;
    font-size: 3.5rem;
  }
  i::before {
    background-color: rgb(255, 213, 0);
    border-radius: 10px;
    padding: 10px;
  }
  .text {
    /* text-align: center; */
    color: white;
    h2 {
      font-size: xx-large;
      margin-top: 20px;
    }
    p {
      font-size: medium;
      padding-top: 2px;
    }
  }
}
.pillar:hover {
  background-color: rgba(252, 252, 252, 0.15);
  border-radius: 2rem;
}
#pl1 {
  i::before {
    background-color: #ff5722;
  }
}
#pl1:hover {
  box-shadow: 1px 2px #ff5722;
}
#pl2 {
  i::before {
    background-color: #03a9f4;
  }
}

#pl2:hover {
  box-shadow: 1px 2px #03a9f4;
}
#pl3 {
  i::before {
    background-color: #b7ff64;
  }
}
#pl3:hover {
  box-shadow: 1px 2px #b7ff64;
}

#pl4 {
  i::before {
    background-color: #d6953e;
  }
}
#pl4:hover {
  box-shadow: 1px 2px #d6953e;
}
#pl5 {
  i::before {
    background-color: #e91e63;
  }
}
#pl5:hover {
  box-shadow: 1px 2px #e91e63;
}
#pl6 {
  i::before {
    background-color: #00bcd4;
  }
}
#pl6:hover {
  box-shadow: 1px 2px #00bcd4;
}

@media (max-width: 720px) {
  #s5 {
    height: 100vh;
  }

  .pillar {
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    min-height: 25vh;
    padding: 10px;
    width: 43%;
    transition: all 500ms ease-in-out;
    i {
      font-size: 3rem;
    }
    .text {
      h2 {
        font-size: 26px;
        margin-top: 6px;
      }
    }
    /* border-radius: 2rem;
    background-color: rgba(252, 252, 252, 0.15); */
  }
  .pillar.hover {
    background-color: rgba(252, 252, 252, 0.15);
    border-radius: 2rem;
  }
  #pl1.hover {
    box-shadow: 1px 2px #ff5722;
  }

  #pl2.hover {
    box-shadow: 1px 2px #03a9f4;
  }

  #pl3.hover {
    box-shadow: 1px 2px #b7ff64;
  }

  #pl4.hover {
    box-shadow: 1px 2px #d6953e;
  }

  #pl5.hover {
    box-shadow: 1px 2px #e91e63;
  }

  #pl6.hover {
    box-shadow: 1px 2px #00bcd4;
  }
  .pillar-group {
    height: 100vh;
    margin-top: 14vh !important;
    margin-bottom: 10vh;
    width: 100%;
    /* border: 1px dotted yellow; */
    .text {
      p {
        display: none;
      }
    }
    /* padding-bottom: 30vh; */
  }
}
