#s6 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;

  .picture {
    background-image: url(../images/aboutUs.jpeg);
    background-position: -130px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(70%);
  }
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    height: 80%;
    padding: 2px 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    h2 {
      font-family: "Caveat", cursive;
      font-size: 80px;
      font-weight: bolder;
    }
    p {
      text-align: justify;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 200;
      line-height: 4vh;
      font-size: large;
    }
    button {
      width: 55%;
      padding: 1rem 0.5rem;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
    }

    button::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: yellow;
      transition: all 0.3s ease;
    }

    button:hover::before {
      left: 100%;
    }

    button:hover {
      background-color: yellow;
      border: 2px solid yellow;

      color: black;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.728);
    }
  }
}
@media (max-width: 600px) {
  #s6 {
    height: fit-content;
  }
  .container {
    margin-top: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    grid-template-columns: 100%;
    padding-bottom: 20vh;
  }
  .left {
    height: fit-content;
  }
  .left .text {
    align-items: center;
    height: fit-content;
    justify-content: baseline;
    padding: 10px 3vw;

    h2 {
      font-size: 64px;
      padding-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      padding-bottom: 20px;
    }
    button {
      padding: 0.7rem 0.5rem;
      width: 70%;
      font-size: small;
      margin-bottom: 20px;
    }
  }
  .picture {
    height: 60vh;
  }
}
