@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  overflow: hidden;
  background-color: transparent;
}
main {
  height: 100vh;
  width: 101vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  scroll-snap-align: start;
  /* transition: all 2s ease-in; */
}
#section-selector {
  position: fixed;
  right: 2px;
  width: 9rem;
  height: 26vh;
  top: calc(50vh - 13vh);
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: aliceblue; */
  .section-link {
    cursor: pointer;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 1rem;
  }
  a {
    opacity: 0;
    margin-left: 10px;
  }
  i {
    display: flex;
    font-size: 1.5rem;
    color: #fffb22;
    border: 2px solid rgba(0, 0, 0, 0.3);
    /* opacity: 0.7; */
  }
  .section-link:hover a {
    opacity: 1;
    width: 10rem;
    font-size: large;
    color: white;
  }
  .section-link:hover {
    border: 3px solid #fffb22;
    background-color: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(10px);
  }
  .section-link:hover i {
    border: 0px;
  }
}

.loader {
  display: none;
  position: absolute;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title {
    font-family: "Caveat", cursive;
    position: absolute;
    top: calc(45vh);
    width: 100%;
    text-align: center;
    z-index: 1001;
    font-size: 12rem;
    font-weight: 500;
    color: #fffb22;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: zoomInOut 1s infinite alternate;

    i {
      display: flex;
      color: #fffb22;
      font-size: 3rem;
      animation: zoomInOut 1s infinite alternate;
      animation: rotation 1s infinite;
    }
  }
  .blur {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    z-index: 1000;
  }
  .loading {
    position: absolute;
    top: 60vh;
    left: 0px;
    width: calc(99vw);
    height: 1vh;
    z-index: 1000;
    .loaderMask {
      width: 5%;
      height: 100%;
      border-radius: 0px 0.5rem 0.5rem 0px;
      background-color: #fffb22dc;
    }
  }
}
@keyframes zoomInOut {
  from {
    font-size: 3rem;
  }
  to {
    font-size: 3.5rem;
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 720px) {
  #section-selector {
    display: none;
  }
  .loader .title {
    font-size: 2.5rem;
  }
}
/*scroller*/
main::-webkit-scrollbar {
  width: 0px;
}
